.testimony {
    padding-block-start: 40px;
    scroll-padding-block-end: 40px;
}

.testimony-title {
    background: var(--purple);
    align-self: flex-start;
    color: var(--white);
    font: var(--headline5);
    text-decoration: none;
    padding-block-start: 4px;
    padding-block-end: 4px;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    /*margin-inline-start: 4px;*/
    box-shadow: -4px 4px 0 var(--white);
}

.testimony-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-block-end: 40px;
}

.testimony-descriptionb {
    padding-block: 40px;
}

.testimony-descriptionc {
    padding-block: 40px;
}

.testimony-button{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.testimony-image {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
    justify-items: auto;
    text-align: center;
}


.button {
    order: 2;
}

.button.is-secondary {
    order: 1;
}

.lapycel {
    max-inline-size: 100%;
    block-size: auto;
    padding-block-end: 40px;
}

.tablet {
    
    max-inline-size: 100%;
    block-size: auto;
}
    
.neo {
    max-inline-size: 100%;
    block-size: auto;
}

@media screen and (min-width: 768px) {
    .testimony {
        display: flex;
        align-items: center;
        padding-block-start: 80px;
        padding-block-end: 80px;
    }
    
    .testimony-description {
        max-inline-size: 449px;
        padding-block-start: 80px;
        padding-block-end: 80px;
        padding-inline-start: 128px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left
        /*flex: 1;*/
    }

    .testimony-description p {
        margin:0
    }

    .testimony-button {
        display: flex;
        gap: 16px;
        flex-direction: row;
    }

    .lapycel {
        block-size: auto;
        max-inline-size: auto;
     }

    .testimony-image {
        align-self: center;
        align-items: center;
        /*vertical-align: middle;*/
        /*block-size: auto;*/
    }
    
    .testimony-a {
        padding-inline-end: 113px       ;
        display: flex;
        flex-flow: row-reverse;
        text-align: center;
        gap: 24px
    }

    .testimonyb {
        display: flex;
        gap:24px; 
        padding-block: 80px;
        padding-inline: 128px;     
    }

    .testimony-descriptionb {
        padding-block: 185px;
        inline-size: 448px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-self: center;
        
    }
    
    .testimony-descriptionb p {
        margin: 0;
    }

    .testimonyc {
        display: flex;
        flex-flow: row-reverse;
        gap: 213px;
        padding-block: 80px;
        padding-inline-start: 128px;
        padding-inline-end: 234px;
    }

    .testimony-descriptionc {
        max-inline-size: 449px;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .testimonyc img {
        block-size: auto;
        
    }

    .neo{
        height: auto;
        width: 536px;
    }

    .button {
        order: 1;
    }
    
    .button.is-secondary {
        order: 2;
    }

}


